{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <ul style="list-style-type:none">
                {% for review in reviews %}
                {% if review.rating != None %}
                <h5>{{ review.title }}</h5><br>
                <p>{{ review.rating }} - {{ review.comment }}</p>
                <hr>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}