{% extends 'base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
        </div>
        <div class="col-6">
            <form action="search" method="post">
                {{form.hidden_tag()}}
                <p>
                    {{form.search.label}}<br>
                    {{form.search(size=64)}}
                </p>
                <p>
                    {{form.submit()}}
                </p>
            </form>
            <ul style="list-style-type:none">
                {% for movie in movies %}
                <h5>{{movie.title}}</h5>
                <a href="/review/{{movie.movieId}}" style="margin-right: 10px;">Review</a> <a href="#">Add to Watchlist</a>
                <hr>
                {% endfor %}
            </ul>
        </div>
        <div class="col">
        </div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}